<div class='top'>
	<div class='arrow left'>&lt;</div>
	<div class='arrow right'>&gt;</div>
	<div class='text'>Increase selection by:</div>
</div>
<div class='buttons'>
	<div class='word selected'>word</div>
	<div class='sentence'>sentence</div>
	<div class='paragraph'>paragraph</div>
</div>