[submodule "donejs"]
	path = donejs
	url = git@github.com:jupiterjs/donejs.git
[submodule "examples/todo"]
	path = examples/todo
	url = git@github.com:jupiterjs/cantodo.git
[submodule "examples/srchr"]
	path = examples/srchr
	url = git@github.com:jupiterjs/srchr.git
[submodule "examples/player"]
	path = examples/player
	url = git@github.com:jupiterjs/canplay.git
