[submodule "donejs"]
	path = donejs
	url = https://github.com/bitovi/donejs.git
[submodule "examples/todo"]
	path = examples/todo
	url = https://github.com/jupiterjs/cantodo.git
[submodule "examples/srchr"]
	path = examples/srchr
	url = https://github.com/jupiterjs/srchr.git
[submodule "examples/player"]
	path = examples/player
	url = https://github.com/jupiterjs/canplay.git
